.area {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    line-height: 30px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.areaImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.areaText {
    position: absolute;
    top: 9vmax;
    left: 0;
    font-size: 2vmax;
    width: 100%;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}

.areaOverlay {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 4;
    transition: all .2s ease;
}

.areaSelect {
    transition: all .2s ease;
}
.areaSelect:hover {
    box-shadow: inset 0 0 0 10px #0076FF !important;
}

.areaOverlayBG {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0.4;
    z-index: 3;
}

.areaOverlayText {
    position: absolute;
    top: 5vmax;
    left: 0;
    font-size: 2vmax;
    width: 100%;
    color: white;
    opacity: 1;
}

.areaInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}